Adafruit-Blinka==7.3.0
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-typing==1.6.0
Adafruit-PlatformDetect==3.22.1
Adafruit-PureIO==1.1.9
attrs==21.4.0
cycler==0.11.0
defusedxml==0.7.1
fonttools==4.31.2
iniconfig==1.1.1
kiwisolver==1.4.2
matplotlib==3.5.1
networkx==2.7.1
numpy==1.22.3
onnx==1.11.0
packaging==21.3
pandas==1.4.2
Pillow==9.0.1
pkg_resources==0.0.0
pluggy==1.0.0
progress==1.6
protobuf==3.19.4
py==1.11.0
pyftdi==0.54.0
pyparsing==3.0.7
pyserial==3.5
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
pyusb==1.2.1
six==1.16.0
tomli==2.0.1
typing_extensions==4.1.1
uldaq==1.2.3
